.footer {
    background-color: #F9F9F9;
    padding: 60px 0;
}

.footer__row {
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(3, auto);
}

.footer__nav-wrapper {
    display: flex;
    gap: 64px;
}

.footer__copyright {
    display: block;
    max-width: max-content;
}

.footer__logo {
    margin-bottom: 12px;
}

.copyright {
    margin-bottom: 8px;
}
.footer__socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.footer__nav {
    display: grid;
    max-width: max-content;
    gap: 10px;
}

.footer__nav-title {
    font-size: 18px;
    font-weight: 500;
    color: $title;
}

.footer__nav-list {
    display: grid;
    gap: 6px;
}

.footer__nav-link {
    color: $text;
    font-size: 13px;
    transition: 0.2s ease-in;
    &:hover {
        color: $accent;
    }
}

.footer__subscribe {
    max-width: 388px;
}

.footer__subscribe-title {
    font-size: 18px;
    font-weight: 500;
    color: $title;
    margin-bottom: 20px;
}

.subscribe {
    display: grid;
    grid-template-columns: auto auto;
}

.button__subscribe {
    display: flex;
    align-items: center;
    padding: 28px;
    border-radius: 12px;
    background-color: $accent;
    transition: 0.2s ease-in;
    &:hover {
        background-color: #7B27FF;
    }
}

.subscribe__input-wrapper {
    position: relative;
}

.subscribe__input {
    height: 72px;
    width: 300px;
    background-color: #fff;
    border-radius: 12px;
    padding-left: 56px;
    padding-top: 32px;
    padding-bottom: 16px;
    background-image: url(./img/footer/icon/mail.svg);
    background-repeat: no-repeat;
    background-position: 18px 24px;
    color: $title;
    font-weight: 500;
    &:focus ~ .subscribe__label,
    &:valid ~ .subscribe__label {
        top: 14px;
    }
}

.subscribe__label--top {
    top: 14px;
}

.subscribe__label {
    font-size: 14px;
    position: absolute;
    top: 25px;
    left: 54px;
    pointer-events: none;
    transition: all 0.2s ease-in;
}
