.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 54px;
}
.nav-list {
    display: flex;
    column-gap: 54px;
}

.nav-list__link {
    color: $text;
    transition: 0.25s ease-in;
    &:hover {
        color: $accent;
    }
}

.nav-list__link-secondary {
    color: $text;
    transition: 0.25s ease-in;
    &:hover {
        color: $accent;
    }
}

.nav-list__link-secondary--active {
    color: $title;
    font-weight: 500;
}

.nav-list__link--active {
    color: #fff;
}
