.user {
    display: flex;
    column-gap: 8px;
    align-items: center;
   }
   
   .user__content {
       color: $text;
   }
   
   .user__content-greeting {
       text-align: end;
   }
   
   .user__content-name {
       color: #fff;
       font-weight: 600;
   }

   .user__content-name-secondary {
        color: $title;
        font-weight: 600;
   }
   
   .user__avatar {
       height: 48px;
       width: 48px;
       position: relative;
       &::after {
           content: "";
           display: block;
           height: 12px;
           width: 12px;
           border-radius: 50%;
           background-color: #FF0000;
           position: absolute;
           top: 0;
           right: 0;
       }
   }
   
   .user__avatar-img {
       border-radius: 50%;
       width: 48px;
       height: 48px;
       object-fit: cover;
   }